
@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}
@font-face {
    font-family: Rosario;
    src: url(./Rosario-Regular.ttf);
}

  body {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header {
    width: 675px;
    height: 57px;
    background: #3498DB;
  }
  h1 {
    position: absolute;
    width: 153px;
    height: 28px;
    margin-left: 16px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
  }
  .page {
    position: absolute;
    width: 675px;
    height: 1400px;
    
    background: #FFFFFF;
  }
  .note1 {
    position: absolute;
    width: 691px;
    height: 34px;
    margin: 16px;
    
    font-family: Rosario;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 304px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .rec2 {
    position: absolute;
    width: 129px;
    height: 40px;
    margin-left: 86px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 14px;
  }
  .note2 {
    text-decoration: none;
    position: absolute;
    width: 65px;
    height: 26px;
    margin-left: 32px;
    margin-top: 7px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    
    color: #000000;
  }
  .note3 {
    width: 219px;
    height: 29px;
    margin-left: 195px; 
    
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;    
    
    color: #515151;
  }
  .tr1 {
    width: 620px;
    height: 120px;
  }
 .note4 {
    width: 219px;
    height: 29px;
    
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;    
    
    color: black;
 }
 .note5 {
    width: 200px;
    height: 10px;
    
    text-align: center;
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 0px;    
    
    color: black;
 }
 .info {
    width: 200px;
    height: 50px;
    margin-top: -10px;
    
    text-align: center;
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;    
    
    color: black;
 }
 .bottom {
    position: absolute;
    width: 675px;
    height: 60px;
    
    border: solid #838383;
    border-width: 1px;
 }
 .link {
    text-decoration: none;
    width: 20px;
    height: 10px;
    
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;    
    
    color: black;
 }